body {
  background-color: yellow;
}

main-title{
  font-size: 3em;
}

.block {
  background-color: white;
  margin: 4px;
}

#block-1{
  width: 100px;
}

#block-2{
  width: 50%;
}

#block-3{
  width: 80vw;
  height: 20vh;
  }

@media screen and (max-width: 992px){
  body{
    background-color: blue;
  }
}
