body {
  background-color: #F0F0F0;
  padding: 5vh 10vw
}

.title-wrapper {
  background-color: white;
}

.conteneur{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.item-wraper{
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}

<<<<<<< HEAD
@media screen and (max-width: 768px){
  
  .conteneur{
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item-wraper{
    flex-direction: column;
    width: 150px;
    margin: 0 8px;
  }
}
=======
/* dummy comment */
>>>>>>> 9e5aed611536c78c99c9f28f530c960e9c4266ae
